aniso8601==1.2.0
arrow==0.10.0
beautifulsoup4==4.5.3
boto3==1.4.4
botocore==1.5.2
click==6.7
docutils==0.13.1
Flask==0.12
Flask-HTTPAuth==3.2.1
Flask-RESTful==0.3.5
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
futures==3.0.5
itsdangerous==0.24
Jinja2==2.9.4
jmespath==0.9.0
Mako==1.0.6
MarkupSafe==0.23
pdfminer==20140328
psycopg2==2.6.2
pyldap==2.4.25.1
python-dateutil==2.6.0
python-editor==1.0.3
pytz==2016.10
s3transfer==0.1.10
six==1.10.0
SQLAlchemy==1.1.5
Werkzeug==0.11.15
WTForms==2.1
